@import "./color.scss";


.bgPrimary {
    background-color: $primary-color !important;
}

.textPrimary {
    color: $primary-color !important;
}

.bold600 {
    font-weight: 600;
}
.bold700 {  
    font-weight: 700;
}

.borderRadius {
    border-radius: 12px;
}

.h100 {
    height: 100vh !important;
}

.cursorP {
    cursor: pointer;
}

.pullRight {
    float: right;
}

.hrColor {
    background: #ddd;
    border: 0.3px solid #ddd;
}

.cutText_1_Line {

}

.t11 {
    font-size: 11px;
}
.t12 {
    font-size: 12px;
}
.t13 {
    font-size: 13px;
}
.t14 {
    font-size: 14px;
}
.t15 {
    font-size: 15px;
}
.t16 {
    font-size: 16px;
}
.t17 {
    font-size: 17px;
}
.t18 {
    font-size: 18px;
}
.t19 {
    font-size: 19px;
}
.t20 {
    font-size: 20px;
}